.nav-item {
  font-size: 12px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.header-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-item:hover {
  color: "#0364CE";
  text-decoration: underline;
}
